@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
    url('../fonts/Rubik-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('Rubik-Bold'),
        url('../fonts/Rubik-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
    url('../fonts/DMSans-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('DMSans-Bold'),
    url('../fonts/DMSans-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Alef-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Alef-Regular'),
    url('../fonts/Alef-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Alef-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('Alef-Regular'),
    url('../fonts/Alef-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Poppins-Regular'),
    url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('Poppins-Medium'),
    url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('Poppins-Bold'),
    url('../fonts/Poppins-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PragmaticaC', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('PragmaticaC'),
    url('../fonts/PragmaticaC.woff2') format('woff2');
  font-display: swap;
}



