@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src:  local('Rubik-Medium'),
        url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Regular'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  font-display: swap;
}



