// colors
$accent: #fcd7b6;
$light-accent: #fef7f0;
$medium-accent: #feefe2;
$dark-title: #1a1a1a;
$blue-title: #243f4d;
$light-blue: #a3bbc8;
$dark-blue: #436372;


%background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


// fonts 
%alef-400 {
  font-family: 'Alef', sans-serif;
  font-weight: 400;
}

%alef-700 {
  font-family: 'Alef', sans-serif;
  font-weight: 700;
}

%poppins-400 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

%poppins-500 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

%pragmatica-500 {
  font-family: 'PragmaticaC', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

%DMSans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}



