.bestseller {
  &__title {
    max-width: 365px;
    margin: 0px auto 40px;
    @extend %DMSans-500;
    font-size: 36px;
    font-weight: 700;
    // bold
    color: $dark-title;
  }
}

.filter {
  max-width: 400px;
  margin: 0px auto 80px;

  &__btn {
    @extend %DMSans-500;
    font-size: 16px;
    font-weight: 700;
    // bold
    color: #8b8b8b;
    cursor: pointer;
    transition: color 0.4s ease-out;
  }

  &__btn:hover {
    color: $dark-title;
  }

  &__btn:not(:last-child) {
    margin-right: 30px;
  }
}