.filter {
  max-width: 400px;
  margin: 0px auto 80px;

  &__btn {
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
  }

  &__btn:hover,
  .filter__btn--active {
    color: $dark-title;
  }

  &__btn:not(:last-child) {
    margin-right: 30px;
  }
}

.bestseller {
  margin-bottom: 100px;

  &__items {
    max-width: 100%;
    min-height: 800px;
    margin-bottom: 185px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  &__pic {
    margin: auto;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 380px;
    padding: 0px 10px 35px;
    @extend %DMSans-700;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    cursor: pointer;

    &:hover {
      .bestseller__links {
        opacity: 1;
      }
    }
  }

  &__info {
    text-align: center;
  }

  &__name {
    margin-bottom: 15px;
    color: $blue-title;
  }

  &__price {
    color: $light-blue;
  }

  &__links-inner {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    opacity: 0;
    position: absolute;
    margin: 0 auto;
    bottom: 150px;
    max-width: 165px;
    width: 100%;
    transition: all 0.4s ease-out;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: #a3bac7;
      transform: scale(1.06);

      svg {
        fill: #fff;
      }
    }
  }

  &__link svg {
    fill: #a3bac7;
    transition: fill 0.4s ease-in-out;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  &__products {
    display: flex;
    justify-content: space-between;
  }

  &__headliner {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    max-width: 870px;
    min-height: 390px;
    background-color: $medium-accent;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    transform: translateX(-120%);
  }

  &__title {
    margin-bottom: 20px;
    @extend %DMSans-700;
    font-size: 26px;
    line-height: 1.3;
    color: $blue-title;
  }

  &__text p {
    margin-bottom: 15px;
    @extend %rubik-400;
    font-size: 16px;
  }

  &__ref {
    position: relative;
    display: block;
    max-width: 180px;
    padding: 20px;
    margin-top: 16px;
    @extend %rubik-700;
    font-size: 15px;
    color: $dark-blue;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    transition: background-color, color, 0.3s ease-in;

    &::after {
      content: "";
      width: 22px;
      height: 9px;
      position: absolute;
      top: 50%;
      right: 20px;
      background-image: url('../../images/icons/bestseller-link-arrow.svg');
      background-color: transparent;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: $blue-title;
      color: #fff;
    }
  } 
}










