.footer {
  @extend %rubik-400;
  font-size: 14px;
  color: #7b7b7b;

  a {
    color: #7b7b7b;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid #dae4e9;
  }
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.2;
    margin: 20px 0;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__contacts {
    max-width: 190px;
  }

  &__newsletter {
    max-width: 270px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__address {
    margin: 30px 0 20px;
    font-style: normal;
    line-height: 1.7;
  }

  &__tel {
    display: inline-block;
  }

  &__tel span {
    cursor: inherit;
  }
}



.footer__tel, 
.footer__email,
.service__link,
.acc__link,
.footer__menu-link {
  position: relative;
  transition: color 0.4s ease-out;
}

.footer__tel:hover,
.footer__email:hover,
.service__link:hover,
.acc__link:hover,
.footer__menu-link:hover {
  color: $dark-title;
}

.footer__tel:after,
.footer__email:after,
.service__link:after,
.acc__link:after,
.footer__menu-lin:after {
  content: ".";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  color: transparent;
  height: 1px;
}

.footer__tel:hover:after,
.footer__email:hover:after,
.service__link:hover:after,
.acc__link:hover:after,
.footer__menu-link:hover:after {
  z-index: -10;
  animation: footer 0.5s forwards;
  opacity: 1;
}

.service__item:not(:last-child),
.acc__item:not(:last-child),
.footer__tel {
  margin-bottom: 20px;
}

.news {
  &__text {
    margin-bottom: 35px;
    line-height: 1.7;
  }

  &__form {
    position: relative;
  }

  &__input {
    max-width: 170px;
    padding: 15px;
    border: none;
    background-color: $light-accent;

    &::placeholder {
      @extend %DMSans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    position: absolute;
    padding: 15px;
    @extend %DMSans-400;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    cursor: pointer;
  }
}

.footer__menu-item {
  &:not(:last-child) {
    padding-right: 15px;
    border-right: 1px solid #7b7b7b;
  }

  &:not(:first-child) {
    padding-left: 15px;
  }
}
