.footer {
  font-size: 14px;
  color: #7b7b7b;

  a {
    color: inherit;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid #dae4e9;
  }
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
  }

  &__title {
    @extend %DMSans-700;
    margin: 20px 0;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__contacts {
    max-width: 190px;
    font-style: normal;
  }

  &__newsletter {
    max-width: 270px;
  }

  &__text {
    margin-bottom: 35px;
    line-height: 1.7;
  }

  &__address {
    margin: 30px 0 20px;
    line-height: 1.7;

    span {
      text-transform: uppercase;
    }
  }

  &__form {
    position: relative;
  }

  &__input {
    max-width: 170px;
    padding: 15px;
    border: none;
    background-color: $light-accent;

    &::placeholder {
      font-size: 12px;
      color: #234969;
    }

    // &:focus {

    // }
  }

  &__btn {
    position: absolute;
    padding: 15px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
  }

  &__tel {
    display: inline-block;
  }
  
  &__tel span {
    cursor: inherit;
  }

  &__refs { 
    display: flex;
    justify-content: space-between;
  }

  &__roll {
    &:not(:last-child) {
      padding-right: 15px;
      border-right: 1px solid #7b7b7b;
    }

    &:not(:first-child) {
      padding-left: 15px;
    }
  }

  &__tel,
  &__email,
  &__link,
  &__ref {
    position: relative;
    transition: color 0.4s ease-out;
  }

  &__tel,
  &__email,
  &__link,
  &__ref {
    &:hover {
      color: $dark-title;
    }
  }
    
  &__tel,
  &__email,
  &__link,
  &__ref {
    &::after {
      content: ".";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      color: transparent;
      height: 1px;
    } 
  }

  &__tel,
  &__email,
  &__link,
  &__ref { 
    &:hover::after {
      z-index: -10;
      animation: footer 0.5s forwards;
      opacity: 1;
    }
  }

  &__part:not(:last-child),
  &__tel {
    margin-bottom: 20px;
  }
}











