.footer {
  font-size: 14px;
  color: #7b7b7b;

  a {
    color: inherit;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
    border-bottom: 1px solid #dae4e9;

    @include phone {
      padding: 20px 0;
    }
  }

  &__item {
    padding: 0 25px;
  }
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;

    @include tablet-portrait {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
  }

  &__title {
    @extend %DMSans-700;
    margin: 20px 0;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__contacts {
    max-width: 190px;
    font-style: normal;

    @include phone {
      max-width: none;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
    }
  }

  &__newsletter {
    max-width: 270px;

    @include tablet-desktop {
      margin-top: 20px;
      max-width: 100%;
      flex-grow: 1;
      border-top: 1px solid #e0e0e0;
    }
  }

  &__text {
    margin-bottom: 35px;
    line-height: 1.7;
  }

  &__address {
    margin: 30px 0 20px;
    line-height: 1.7;

    span {
      text-transform: uppercase;
    }
  }

  &__form {
    position: relative;
  }

  &__input {
    max-width: 170px;
    padding: 15px;
    border: none;
    background-color: $light-accent;

    @include tablet-desktop {
      width: 100%;
      max-width: 230px;
    }

    @include phone {
      max-width: 150px;
    }

    &::placeholder {
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    position: absolute;
    padding: 15px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    transition: background-color, color, .3s linear;

    &:hover {
      color: $blue-title;
      background-color: $accent;
    }
  }

  &__tel {
    display: inline-block;
  }
  
  &__tel span {
    cursor: inherit;
  }

  &__copy {
    @include tablet-portrait {
      font-size: 13px;
      order: 1;
    }
  }

  &__refs { 
    display: flex;
    justify-content: space-between;

    @include tablet-portrait {
      margin-bottom: 20px;
    }
  }

  &__roll:not(:last-child) {
      padding-right: 15px;
      border-right: 1px solid #7b7b7b;
    }

  &__roll:not(:first-child) {
      padding-left: 15px;
  }

  &__tel,
  &__email,
  &__link,
  &__ref {
    position: relative;
    transition: color .3s ease-out;
  }

  &__tel,
  &__email,
  &__link,
  &__ref {
    &:hover {
      color: $dark-title;
    }
  }
    
  &__tel,
  &__email,
  &__link,
  &__ref {
    &::after {
      content: ".";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      color: transparent;
      height: 1px;
    } 
  }

  &__tel,
  &__email,
  &__link,
  &__ref { 
    &:hover::after {
      z-index: -10;
      animation: footer .5s forwards;
      opacity: 1;
    }
  }

  &__part:not(:last-child),
  &__tel {
    margin-bottom: 20px;
  }
}

.address__link {
  transition: color .3s linear;

  &:hover {
    color: $dark-title;
  }
}











