.header {
  padding: 50px 0px;
}

.logo {
  width: 100%;
  max-width: 290px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover .dropdown {
        visibility: visible; 
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
        background-color: $blue-title;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 15px;
    margin: 0 10px;
    @extend %DMSans-700;
    font-size: 15px;
    line-height: 1;
    color: $dark-blue;
    transition: color 0.5s ease-out;
  }

  &__link.active {
    color: #fff;
    background-color: $blue-title;
  }

  &__link:hover {
    color: #fff;
  }
  
  &__link::after {
    content: ".";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    height: 1px;
  }
  
  &__link:hover::after {
    z-index: -10;
    animation: fill 0.5s forwards;
    opacity: 1;
  }
}

// ANIMATION 

.dropdown {
  position: absolute;
  left: 10px;
  width: 300px;
  opacity: 0;
  visibility: hidden; 
  transform: translateY(-3em);
  z-index: 2222;
  transition: all 0.3s ease-in-out;

  &__item {
    position: relative;
  }
  
  &__link {
    display: block;
    width: 100%;
    padding: 15px 50px 15px 15px;
    @extend %DMSans-700;
    font-size: 15px;
    color: #ddd;
    transition: color 0.3s ease-in-out;
  }
  
  &__link:hover {
    color: rgba(0,223,252,1);
    background: rgba(0, 235, 252, 0.02);
  }
}

// ANIMATION END

.controls {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    padding: 9px 40px;
    width: 100%;
    height: 50px;
    margin: 0px 20px;
    background-color: $accent;
    border-radius: 25px;

    &::after {
      content: "";
      position: absolute;
      right: 50%;
      left: 50%;
      width: 1px;
      height: 39px;
      @extend %background;
      background-image: url('../images/icons/hr-line.svg');
    }
  }

  &__link {
    position: relative;
  }

  &__link--search,
  &__link--tel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__link--search {
    background-color: #edf1f4;
  }

  &__link--tel {
    background-color: #a3bbc8;
  }

  &__link--heart,
  &__link--cart {
    top: -8px;
  }

  &__link--search,
  &__link--heart,
  &__link--cart,
  &__link--tel {
    &::after {
      content: "";
      width: 35px;
      height: 35px;
      position: absolute;
      top: 8px;
      left: 8px;
      @extend %background;
      background-size: auto;
    }
  }

  &__link--tel::after {
    background-image: url('../images/icons/dots.svg');
  }

  &__link--search::after {
    @extend %background;
    background-image: url('../images/icons/zoom-icon.svg');
  }

  &__link--heart::after {
    left: -8px;
    top: -8px;
    background-image: url('../images/icons/heart-icon.svg');
  }

  &__link--cart::after {
    top: -8px;
    transform: translateX(-100%);
    background-image: url('../images/icons/cart-icon.svg');
  }

  &__span {
    position: absolute;
    top: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @extend %DMSans-500;
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    color: $dark-title;
    background-color: #fff;
    z-index: 10;
  }

  &__link--heart span {
    left: 11px;
  }

  &__link--cart span {
    left: -7px;
  }
}



  

