.header {
  padding: 50px 0px;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 100%;
  max-width: 290px;
}

.nav {
  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    @extend %DMSans-700;
    font-size: 15px;
    line-height: 1;
    color: $dark-blue;
    transition: color 0.4s ease-out;
  }

  &__link--active, .nav__link:hover {
    color: $dark-title;
  }

}

.user-nav {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    padding: 9px 40px;
    width: 100%;
    height: 50px;
    margin: 0px 20px;
    background-color: $accent;
    border-radius: 25px;

    &::after {
      content: "";
      position: absolute;
      right: 50%;
      left: 50%;
      width: 1px;
      height: 39px;
      @extend %background;
      background-image: url('../images/icons/hr-line.svg');
    }
  }
}

.user-nav__link {
  position: relative;
}

.user-nav__link--zoom, 
.user-nav__link--tel {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-nav__link--zoom {
  background-color: #edf1f4;
}

.user-nav__link--tel {
  background-color: #a3bbc8;
}

.user-nav__link--heart,
.user-nav__link--cart {
  top: -8px;
}

.user-nav__link--zoom::after,
.user-nav__link--heart::after,
.user-nav__link--cart::after,
.user-nav__link--tel::after {
  content: "";
  position: absolute;
  @extend %background;
}

.user-nav__link--tel::after {
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px;
}

.user-nav__link--zoom::after {
  top: 17px;
  left: 18px;
  width: 16px;
  height: 16px;
  background-image: url('../images/icons/zoom-icon.svg');
}

.user-nav__link--tel::after {
  background-image: url('../images/icons/dots.svg');
}

.user-nav__link--heart::after {
  width: 18px;
  height: 16px;
  left: 0;
  background-image: url('../images/icons/heart-icon.svg');
}

.user-nav__link--cart::after {
  width: 19px;
  height: 17px;
  transform: translateX(-100%); 
  background-image: url('../images/icons/cart-icon.svg');
}

.user-nav__span {
  position: absolute;
  top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  @extend %DMSans-500;
  font-size: 10px;
  line-height: 1.7;
  text-align: center;
  color: $dark-title;
  background-color: #fff;
  z-index: 10;
}

.user-nav__link--heart span {
  left: 11px;

}

.user-nav__link--cart span {
  left: -7px;
}
