.header {
  padding: 50px 0px;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1135px;
    flex-grow: 1;
  }
}

.logo {
  width: 100%;
  max-width: 290px;
}

.nav {
  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    @extend %DMSans-700;
    font-size: 15px;
    line-height: 1;
    color: $dark-blue;
    transition: color 0.4s ease-out;
  }

  // &.active, .nav__link:hover {
  //   // color: $dark-title;

  // }
}

.controls {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    padding: 9px 40px;
    width: 100%;
    height: 50px;
    margin: 0px 20px;
    background-color: $accent;
    border-radius: 25px;

    &::after {
      content: "";
      position: absolute;
      right: 50%;
      left: 50%;
      width: 1px;
      height: 39px;
      @extend %background;
      background-image: url('../images/icons/hr-line.svg');
    }
  }

  &__link {
    position: relative;
  }

  &__link--search,
  &__link--tel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__link--search {
    background-color: #edf1f4;
  }

  &__link--tel {
    background-color: #a3bbc8;
  }

  &__link--heart,
  &__link--cart {
    top: -8px;
  }

  &__link--search::after,
  &__link--heart::after,
  &__link--cart::after,
  &__link--tel::after {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8px;
    left: 8px;
    @extend %background;
    background-size: auto;
  }

  &__link--tel::after {
    background-image: url('../images/icons/dots.svg');
  }

  &__link--search::after {
    @extend %background;
    background-image: url('../images/icons/zoom-icon.svg');
  }

  &__link--heart::after {
    left: -8px;
    top: -8px;
    background-image: url('../images/icons/heart-icon.svg');
  }

  &__link--cart::after {
    top: -8px;
    transform: translateX(-100%);
    background-image: url('../images/icons/cart-icon.svg');
  }

  &__span {
    position: absolute;
    top: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @extend %DMSans-500;
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    color: $dark-title;
    background-color: #fff;
    z-index: 10;
  }

  &__link--heart span {
    left: 11px;
  }

  &__link--cart span {
    left: -7px;
  }
}

/* NAVIGATION */

// nav ul li {
//   display: inline-block;
// }

.nav__link {
  display: block;
  padding: 15px;
  margin: 0 10px;
}

.nav__link,
.nav__link:after,
.nav__link:before {
  transition: all 0.4s ease-out;
}

.nav__link:hover {
  color: #555;
}

.nav__link {
  position: relative;
}

.nav__link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.nav__link:hover:after {
  width: 100%;
}

.nav__link {
  transition: all 2s;
}
.nav__link:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

.nav__link:hover {
  color: #fff;
  z-index: 1;
}

.nav__link:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}


  

