.insights {
  position: relative;
  margin-bottom: 20px;
  @extend %DMSans-700;
  color: $dark-title;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__title {
    font-size: 36px;
  }

  &__link {
    position: relative;
    padding: 12px 20px 12px 12px;
    color: inherit;
    transition: color 0.3s linear;

    &::after {
      content: "\ea42";
      position: absolute;
      right: 0;
      font-family: 'icomoon';
    }
  }

  &__link, 
  &__text {
    transition: color 0.3s linear;

    &:hover {
      color: $accent;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    padding-bottom: 30px;
    border-radius: 5px;
    background: #fff;
    @extend %shadow;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__image {
    height: 250px;
  }

  &__img {
    max-height: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
  }

  &__category {
    max-width: max-content;
    padding: 10px 30px;
    border-radius: 25px;
    @extend %poppins-700;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $light-blue;
    transform: translateY(-50%);
  }

  &__text {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  &__info {
    padding-top: 20px;
    display: flex;
    border-top: 1px solid #e0e0e0;
    @extend %rubik-400;
    font-size: 12px;
    text-transform: uppercase;
    color: #222933;
  }

  &__date {
    margin-right: 20px;
  }

  &__date, 
  &__author {
    position: relative;
    padding-left: 20px;
  }

  &__date,
  &__author {
    &::before {
      position: absolute;
      left: 0;
      font-family: 'icomoon';
    }
  }

  &__date::before {
    content: "\e953";
  }

  &__author::before {
    content: "\e976";
  }

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 440px;
    background-color: #fdf6ef;
    transform: translateY(-102%);
    z-index: -1;
  }
}

.partners {

  &__item {
    width: 20%;
  }

  &__wrap {
    display: flex;
    height: 85px;
    padding: 135px 0;
    align-items: center;
    justify-content: center;
  }

  &__image {
    // position: absolute;
    // left: 0;
    // right: 0;
    // margin: 0px auto;
  }

} 
