.new-design {
  margin-bottom: 100px;

  &__title {
    max-width: max-content;
    margin: 0px auto 40px;
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 525px;
  }

  &__item {
    flex-grow: 1;
    max-width: 370px;
    width: 100%;
    max-height: 246px;
    padding: 40px 5px 5px 35px;
    background-color: #f8f8f8;
    overflow: hidden;
  }

  &__name {
    display: block;
    max-width: 175px;
    margin-bottom: 20px;
    @extend %DMSans-700;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__type {
    @extend %DMSans-700;
    font-size: 16px;
    color: $light-blue;
  }

  &__img {
    transform: translateX(80px) translateY(-15px);
  }
}
