.video {
  padding: 200px 0px;
  margin: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__anim {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px auto;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      background: #a3bbc8;
      transform: translate(-50%, -50%);
      opacity: .5;
      transition: all .3s linear 0s;
      animation: video-anim 2s linear infinite;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
    background-color: $light-blue;
    transition: background-color .3s linear;
    z-index: 2000;

    svg {
      width: 25px;
      height: 25px;
      transform: translateX(10%);
      fill: #fff;
    }

    &:hover {
      background-color: $accent;
    }
  }
}